.container-fluid {
  padding: 2% 8%;
}

body {
  background-color: rgb(54, 108, 99);
  text-align: center;
}

.Dice {
  font-size: 2rem;
  color: rgb(247, 231, 174);
  font-family: "Special Elite", cursive;
}

h1 {
  font-size: 10rem;
  font-family: "Bangers", cursive;
  color: rgb(247, 231, 174);
  text-shadow: 5px 0 #232931;
  margin: 30px;
}

img {
  width: 200px;
  height: 200px;
}

footer {
  margin-top: 9%;
  color: #eeeeee;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.btn {
  font-family: "Bangers", cursive;
  background-color: rgb(247, 231, 174);
  color: rgb(54, 108, 99);
  margin: 5% 5%;
}
